<%- include("partials/header") %>
<div class="result">
    <img src="http://openweathermap.org/img/wn/<%= icon %>@2x.png">
    <h1>The temprature in <%= city %> is <%= temp %> celsius.</h1>
    <p>The weather is <%= desc %> </p>
</div>
<%- include("partials/footer") %>